body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1e1e2e;
    padding: 20px;
    text-align: center;
}
em{
    color:#229edc
}
strong{
    color: #00aaff;
}
h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    color: #00aaff;
}
h3{
    text-align: center;
}
a{
    color: #00aaff;
}
a:hover{
    color: rgb(203, 140, 255);
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #00aaff;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e2e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
}
.profile-pic {
    display: flexbox;
    margin: 10px auto;
    height: 200px;
    width: 200px;
    max-width: 200px;
    border-radius: 10px;
    padding-left: 35px;
}
.img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    border-radius: 10px;
}
.container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    display: flex;
    align-items: center;
    gap: 10px;
}
textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e2e;
    margin-top: 20px;
    position: relative;
    bottom: 0px;
    width: 98.8%;
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  }